from typing import Final, Literal

{% if np_start >= (2, 0) -%}
{%- if np_start >= (1, 23) %}import numpy as array_api{% endif %}
from numpy import long, ulong
{%- else -%}
from numpy import array_api, int_ as long, uint as ulong
{%- endif %}

__all__ = (
    {%- for project in PROJECTS %}
    "{{ project.const_name }}",
    {%- endfor %}
    "array_api",
    "long",
    "ulong",
)

def __dir__() -> tuple[str, ...]:
    return __all__


{% for project in PROJECTS -%}
{% set np_other = project.np_range[0] -%}
{% set is_ge = np_start >= np_other -%}
{{ project.const_name }}: Final[Literal[{{ is_ge }}]] = {{ is_ge }}  # numpy >= {{ np_other }}
{% endfor -%}
