[build-system]
requires = ["uv_build>=0.8.11,<0.9.0"]
build-backend = "uv_build"

[project]
name = "numpy-typing-compat"
version = "{{ np_start }}.{{ BUILD }}"
description = "Static typing compatibility layer for older versions of NumPy"
authors = [{name = "Joren Hammudoglu", email = "jhammudoglu@gmail.com"}]
license = "BSD-3-Clause"
license-files = ["LICENSE"]
readme = "README.md"
keywords = ["numpy", "optype", "typing", "compatibility"]
classifiers = [
  "Development Status :: 4 - Beta",
  "Intended Audience :: Developers",
  "Operating System :: OS Independent",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3",
{%- for py_minor in range(py_start[1], py_stop[1]) %}
  "Programming Language :: Python :: 3.{{ py_minor }}",
{%- endfor %}
  "Typing :: Typed",
]
requires-python = ">={{ py_start }}"
dependencies = [
  "numpy >={{ np_start }}, <{{ np_stop }}",
{%- if py_start < (3, 10) %}
  "typing_extensions >=4; python_version < '3.10'",
{%- endif %}
]

[project.urls]
Repository = "{{ REPO }}"
Issues = "{{ REPO }}/issues"
Changelog = "{{ REPO }}/releases"
