name: Update PyPI releases

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  pypi-publish:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    environment:
      name: pypi
      url: https://pypi.org/p/numpy-typing-compat
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v5.0.0

      - uses: astral-sh/setup-uv@v7.1.2
        with:
          enable-cache: false

      - name: build packages
        run: uv run build.py

      - name: publish to PyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          print-hash: true
          skip-existing: true
